setuptools==65
medspacy
nltk==3.8.1
bioc==2.0
beautifulsoup4
pytest
bioc
tqdm
pandas
loguru
matplotlib
install-jdk
gensim
xgboost
openpyxl
imbalanced-learn
scikit-learn
sklearn-crfsuite
scipy
pyodbc
sqlalchemy
xlrd
ipympl
ipywidgets
jupytext
lxml
markdown
jupyterlab-widgets
wheel
joblib
dspy-ai
datasets
py7zr
langchain
langchain-core
langchain-community
langchain-experimental
langgraph
langchain-cli
langsmith
langchain-openai
langchain-huggingface
langchain-anthropic