setuptools==65
medspacy
git+https://github.com/medspacy/medspacy_io.git
nltk==3.8.1
bioc==2.0
tqdm==4.65
tensorboard
pytest
wheel
joblib
matplotlib
pyspark[pandas_on_spark]==3.5.0
spark-nlp==5.2.0
mlflow
gensim
Keras
scikit-spark
pydot
tensorflow[and-cuda]==2.12.0
graphviz
